# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraires for Data Science
- List examples of aritmetic expressions

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy

|Data Science Tools |
| ---------------- |
| RStudio |
|Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
print(2+2)
print(3-2)
print(1+1)

4
1
2

In [4]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Lovro